
#myDIV {
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}
